<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is my first Ruby On Rails WebPage!!!</p>
  <hr class="my-4">
  <p>Pretty cool, eh!</p>
  <%= link_to 'Learn more about me', home_about_path, class: 'btn btn-success btn-lg' %>
  </div>
